.home-container {
    padding: 20px;
    background-color: #e0d4d4;
  }
  
  .main-heading{
    text-align: center;
    font-size: 30px;
  }
  .food-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .food-item {
    flex: 0 0 calc(25% - 20px); /* Adjust the width of each food item */
    margin: 10px;
    text-align: center;
  }
  
  .food-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .item-price {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c37a7a;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }
  
  .nav-link {
    text-decoration: none;
    color: #842626;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #ff5722;
  }

  .marquee-container {
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .marquee:hover {
    animation-play-state: paused;
  }