.main-bg{
    background-color: #ff5722;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.swiggy-heading{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 168, 7);
    margin-bottom: 120px;
}
.login-container {
     max-width: 400px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-header {
    text-align: center;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .login-button {
    padding: 10px;
    background-color:rgb(58, 137, 58);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-image: linear-gradient(green, rgb(133, 243, 133)); /* Define the gradient */
    color: white; /* Change text color to contrast with the gradient */
  }
  
  .headings{
    font-size: 15px;
    color: wheat;
  }